services:
  web:
    image: ${DOCKER_IMAGE:-local/vue-spa}:${DOCKER_TAG:-latest}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    restart: unless-stopped
